---
// Component Imports
import Button from "@/Components/Button.astro";
import Header from "@/Components/header/homepage";
import Timeline from "@/Components/timeline";
import { prefix } from "Consts/config";
import { TopHeaderMenuConst } from "Consts/logo";
import { portoList } from "Consts/portolist";
import { eduTimelineData } from "Consts/timeline";
import Layout from "Containers/layout";
import PortoList from "Containers/portoList";
import Sections from "Containers/sections";
import { SliderDataType } from "Consts/types/logo.type";
// const condBg = import.meta.env.NODE_ENV === "production" ? "url(/revamp/home/bg.png)" : "url(/home/bg.png)";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<!-- <style is:global define:vars={{ condBg }}>
	body {
	  background-image: var(--condBg);
	}
</style> -->
<Layout>
  <Header variant="homepage" client:load/>
  <Sections title="Work Experiences">
	<p slot="desc">I have previously worked for a few companies <br/>as a freelance and full-time front end developer.</p>
  <Timeline client:visible/>
  </Sections>
  <Sections type="education" title="Education" client:only>
  <Timeline type="education" data={eduTimelineData} client:only/>
  </Sections>
  
  <Sections type="portfolio" title="App Development" client:only>
    <p slot="desc">
      Look what I've <br/>Done 
    </p>
    <PortoList data={portoList} client:only/>
    </Sections>
  <div class="container mx-5 md:mx-auto grid h-screen place-items-start content-center">
    <h2 data-aos="animation-scale-y" data-aos-duration="900" class="text-5xl md:text-7xl font-semibold">Do you have something great?</h2>
    <br/>
    <h2 data-aos="animation-scale-y" data-aos-duration="900" class="text-5xl md:text-7xl font-semibold">Let's <span class="bg-gradient-to-r from-teal-500 to-[rgba(96,165,250,1)] text-transparent bg-clip-text">work together!</span></h2>
    <p data-aos="fade-up" data-aos-duration="700" class="text-2xl md:text-4xl font-normal my-5 text-base-2">fadhelijlalfalah@gmail.com</p>
    <div class="flex gap-4 md:gap-8">
      
    <Button className="text-white bg-cyan-500">Get in touch</Button>
  {TopHeaderMenuConst.reverse().map((item: SliderDataType) => (
    
      <a
      href={item.href}
      target="_blank"
      data-aos="zoom-in" data-aos-duration="400"
      >
    <Button className={`md:p-6`} style={`background-color:${item.background};color:${item.color};`}>
      <span
        set:html={item.icon}
      ></span>
  </Button></a>
  ))}
    </div>
  </div>
</Layout>